* {
    font-family: "Google Sans Code";
    font-size: 13px;
    color: #ffffff;
    border-radius: 12px;
    border: none;
}

window#waybar {
    background: rgba(0,0,0,0);
    
}

#waybar.empty #window {
  background-color: transparent;
}


.modules-left, .modules-center, .modules-right {
    padding: 3px 6px;
    margin: 6px 10px 0px 10px;
    border-radius: 10px;
    border: 2px solid #666666;
}

.modules-left { background-color: rgba(20,20,20,0.7); }
.modules-center { background-color: rgba(20,20,20,0.7); }
.modules-right { background-color: rgba(20,20,20,0.7); }

#workspaces button {
  padding: 2px 6px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button.focused {
  color: #ffffff;
  background-color: rgba(80,80,80,0.3);
}

#workspaces button.active {
  color: #666666;
  background-color: rgba(80,80,80,0.5);
}

#workspaces button.urgent {
  color: #666666;
  background-color: rgba(255,0,0,0.3);
}

#workspaces button:hover {
    background-color: rgba(60,60,60,0.5);
}

#hyprland-window {
    padding-left: 10px;
    padding-right: 10px;
}

#clock, #network, #pulseaudio, #tray { padding: 0 5px; }
#pulseaudio.muted { color: #cc3436; }
